#tarjeta_brandon{
    text-align: center;
    width: 50vw;
    height: 250px;
    background-color: aquamarine;
    color: coral;
    border-radius: 20px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#Tarjeta_Diego{
    text-align: center;
    width: 50vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #1b1b2f;
    color: #e2e2e2;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #00adb5;
}